<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
	<link href="{{ site.baseurl }}/assets/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
	<link href="{{ site.baseurl }}/assets/css/cv-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>